html {
  font-family: "Fredoka One", sans-serif;
}

.content {
  background-image: repeating-linear-gradient(-33deg, #c9fcff, #c9fcff 9px, #d4fdff 9px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  border-bottom: 10px solid #b3fbff;
}

h1 {
  color: #990073;
  position: relative;
  left: -.15em;
  transform: rotate(-10deg);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .15);
  filter: blur(12px);
  opacity: 0;
  animation: h1 .2s 1.2s ease-in forwards;
}

@keyframes h1 {

  0% {
    transform: rotate(-10deg);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: rotate(-9deg);
    filter: blur(0);
    opacity: 100;
  }

}

p {
  color: #c09;
  max-width: 19em;
  margin: .5em;
  transform: rotate(-6deg);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .15);
  filter: blur(12px);
  opacity: 0;
  animation: p .2s 1.2s ease-in forwards;
}

@keyframes p {

  0% {
    transform: rotate(-6deg);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: rotate(-5deg);
    filter: blur(0);
    opacity: 100;
  }

}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  margin-left: .5em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .15);
  filter: blur(12px);
  opacity: 0;
  animation: btn .2s 1.2s ease-in forwards;
}

@keyframes btn {

   0% {
     filter: blur(12px);
     opacity: 0;
   }

   100% {
     filter: blur(0);
     opacity: 100;
   }

}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .2);
  opacity: 0;
}

.ice-cream {
  position: relative;
  min-height: 480px;
}

.dessert {
  left: 50%;
  bottom: 100%;
  height: 180px;
  width: 180px;

  transform: translateX(-50%);
}

.cone {
  z-index: 100;
  animation: cone-drop 300ms ease-in forwards;
}

.mint-chip {
  animation: mint-chip-drop 300ms 300ms ease-in forwards;
}

.chocolate-chip {
  animation: chocolate-chip-drop 300ms 600ms ease-in forwards;
}

.vanilla-fudge {
  animation: vanilla-fudge-drop 200ms 900ms ease-in forwards;
}

.cherry {
  animation: cherry-drop 150ms 1500ms ease-in forwards;
}

@keyframes cone-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mint-chip-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 106px;
  }

}

@keyframes chocolate-chip-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 193px;
  }

}

@keyframes vanilla-fudge-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 266px;
  }

}

@keyframes cherry-drop {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 350px;
  }

}
